* text=auto

# Archives
*.whl binary diff=zip
*.zip binary diff=zip

# Images
*.gif binary
*.ico binary
*.jpeg binary
*.png binary

# Audio
*.ogg binary

# Fonts
*.bdf binary
*.ttf binary

# Pyxel assets
*.pyxapp binary
*.pyxres binary
*.pyxpal text
